body {
  background-color: rgb(47, 220, 255);
  padding: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.bar {
  text-align: center;
  background-color: #444;
  color: white;
  padding: 15px;
  margin: 25px;
}

#main-nav ul {
  text-align: center;
  background-color: crimson;
  margin: 25px;
}

#main-nav li {
  display: inline;
}

#main-nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}

#main-nav a:hover {
  background-color: #7c7c7c;
}

.main-container {
  display: flex;
  margin: 15px;
}

.content-area {
  background-color: rgb(47, 220, 255);
  width: 70%;
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
}

.sidebar {
  background-color: rgb(255, 251, 14);
  width: 25%;
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
}

.sidebar:hover {
  background-color: white;
}

#name {
  width: 150px;               
}


#name:focus {
  width: 250px;                
}

